<%- include('partials/header'); -%>
<style>
    #viewnotes{
        margin-top: 250px;
    }
</style>
<body>
    <nav>
        <nav>
            <div class="nav-wrapper">
                <a href="/notes" class="brand-logo center">Notes</a>
            </div>
        </nav>
    </nav>
<main>
    <div class="container center">
        <div class="row">
            <a id="viewnotes" href="/notes" class="center waves-effect waves-light btn">View your Notes</a>
        </div>
        <a  href="/notes" class="center waves-effect waves-light btn">Login</a>
        <a  href="/notes" class="center waves-effect waves-light btn">SignUp</a>
        
    </div>
</main>
<%- include('partials/footer'); -%>